h1.title {
  font-size: 1.5em;
}

h2.title{
  font-size: 1em;
}

h3.title{
  font-size: 0.5em;
}


ul li{
  /* Set the bullet size */
  font-size: 0.6em; /* Adjust this value as needed */
}

li li{
  font-size: 90%;
}

.math.inline {
  font-size: 100%;
}
.math.display {
  font-size: 50%;
}
